<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This app was created by me Fred Gerner, and uses mapbox.com and weatherstack.com api's</p>
    <img class="portrait" src="/img/hugo-jehanne-LOHVrTsdvzY-unsplash.jpg" alt="img">
</div>
{{>footer}}
</body>
</html>