<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
{{>header}}
<img src="/img/hugo-jehanne-LOHVrTsdvzY-unsplash.jpg" alt="img">
{{>footer}}
</body>
</html>